<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bottomMenu.css">
    <title>Document</title>
</head>
<body>
    <div class="mobile-bottom-menu justify-content-between align-items-center px-3">
        <a href="/" class="Bottom-menu-btn-wrapper text-white d-flex flex-column align-items-center rounded-3 text-decoration-none">
          <i class="ri-home-4-fill"></i>
          <small>Home</small>
        </a>
      <a href="/feed/subscriptions" class="Bottom-menu-btn-wrapper text-white d-flex flex-column align-items-center rounded-3 text-decoration-none">
          <i class="ri-clapperboard-line"></i>
          <small>Subscriptions</small>
      </a>
      <a href="/feed/library" class="Bottom-menu-btn-wrapper text-white d-flex flex-column align-items-center rounded-3 text-decoration-none">
          <i class="ri-slideshow-4-line"></i>
          <small>Library</small>
      </a>
      <a href="/search?contentType=history" class="Bottom-menu-btn-wrapper text-white d-flex flex-column align-items-center rounded-3 text-decoration-none">
          <i class="ri-history-line"></i>
          <small>History</small>
      </a>
    </div>
    <script src="/javascripts/bottomMenu.js"></script>
</body>
</html>