<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <h1>
        <a href="/home">HOME</a>
        <a href="/home2">HOME2</a>
      </h1>
      <form
        class="video-form"
        action="/upload/video"
        enctype="multipart/form-data"
        method="post"
      >
        <input
          type="file"
          name="file"
          placeholder="upload a video"
          class="video"
        />
        <input type="submit" value="upload" />
      </form>
      <h2>preview</h2>
      <video height="350" src="" class="video-tag" controls></video>
      <a href="/videos"><h1>All Videos</h1></a>
      <a href="/uploadPage">upload video</a>
    </div>
    <a href="/signup">click to signup</a>
    <a href="/auth/google">signup with google</a>
  </body>
  <script src="javascripts//script.js"></script>
</html>
