<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/sideMenu.css">
    <title>Document</title>
</head>
<body>
    <div class="left-menu-bar">
        <div class="menu-btn-wrapper d-flex flex-column align-items-center py-3 rounded-3">
            <i class="ri-home-4-fill"></i>
            <small>Home</small>
        </div>
        <div class="menu-btn-wrapper d-flex flex-column align-items-center py-3 rounded-3">
            <i class="ri-clapperboard-line"></i>
            <small>Subscriptions</small>
        </div>
        <div class="menu-btn-wrapper d-flex flex-column align-items-center py-3 rounded-3">
            <i class="ri-slideshow-4-line"></i>
            <small>Library</small>
        </div>
        <div class="menu-btn-wrapper d-flex flex-column align-items-center py-3 rounded-3">
            <i class="ri-history-line"></i>
            <small>History</small>
        </div>
    </div>
</body>
</html>