<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/boilerPlate.css">
    <link rel="stylesheet" href="/stylesheets/subscriptions.css">
    <title>Document</title>
</head>
<body>
    <%-include('navbar') %>
    <div class="menu-vid-parent d-flex flex-fill">
        <%-include('sideMenu') %>
        <div class="right-section p-3">
            <h5 class="text-white ms-2">Subscriptions</h5>
            <div class="channelsWrapper mt-4 gap-4">
                <div class="singleChannelWrapper">
                    <a class="text-decoration-none text-light" href="/channel/id/home">
                        <div class="channelBox">
                            <div title="Go To Channel" class="profile">
                                <img src="/Sample_Profile/pf2.jpg" alt="">
                            </div>
                            <div class="text-center">
                                <small class="fw-semibold">Aj technicals point</small>
                                <br>
                                <small class="showSubscribers">583 Subscribers</small>
                            </div>
                        </div>
                    </a>
                    <div>
                        <a class="text-decoration-none text-light" href="">
                            <div class="subscribeBtn bg-white rounded-pill text-nowrap text-dark fw-semibold">
                              <small>Subscribe</small>
                            </div>
                        </a>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>