.header-section>div{
    font-size: 1.2rem;
}
.seeAllWrapper{
    padding: .2rem .5rem;
    border-radius: 100px;
    text-decoration: none;
    border: 1px solid transparent;
    color: rgba(221, 160, 221, 0.856) !important;
    text-decoration: none;
}

.seeAllWrapper:hover{
    background-color: var(--iconBackFaded);
    cursor: pointer;
}

.seeAllWrapper:active{
    border: 1px solid white;
}

.text-faded{
    opacity: .8;
}

/* playlist styling starts here */

.playlistWrapper{
    width: 100%;
}

.playlistVideoWrapper{
    width: 210px;
    height: 130px;
    border-radius: .375rem;
    position: relative;
}

.playlistVideoWrapper>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: .375rem;
}

.playlistVideoCountWrapperz{
    width: 30px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 99999;
}

.playlistName{
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.viewPl{
    color: var(--themeTextGrey);
}

@media only screen and (max-width: 376px) {
    .singlePlaylistWrapper{
        width: 100%;
    }
    .playlistVideoWrapper{
        width: 100%;
        height: 180px;
    }
}
/* now videos styling starts */
