* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background 0.25s ease-in-out;
}

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --themeBg: #212121;
  --iconHover: rgba(221, 160, 221, 0.484);
  --iconBackFaded: rgba(221, 160, 221, 0.194);
}

.nav {
  height: 60px;
  background-color: var(--themeBg);
}

.nav-searchbox {
  width: 100%;
}

.nav-searchbox form {
  width: 55%;
  position: relative;
}

.nav-searchbox input {
  border-top-left-radius: 100px !important;
  border-bottom-left-radius: 100px !important;
}

.nav-searchbox button {
  width: 60px;
  color: white;
  border-top-right-radius: 100px !important;
  border-bottom-right-radius: 100px !important;
  background-color: var(--iconBackFaded);
}

.right-icons {
  gap: 0.7rem !important;
}

.Navicon {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.Navicon:hover {
  cursor: pointer;
  background-color: var(--iconHover);
}

.mic {
  position: relative;
}

.mic::after {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(221, 160, 221, 0.167);
  position: absolute;
  opacity: var(--displayMicEffect, 0);
  animation: var(--anim, 0);
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.filled-icon {
  background-color: var(--iconBackFaded);
}

.small-screen-icon {
  display: none;
}

.small-screen-search {
  width: 100%;
  position: absolute;
  top: -60px;
  left: 0;
  z-index: 99999;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: top;
  opacity: 0;
}

.sm-nav-center .nav-searchbox form {
  width: 90%;
}

.signInBtn {
  border: 1px solid white;
  color: white;
  padding: 0.2rem 0.5rem;
  position: relative;
  /* overflow: hidden; */
  cursor: pointer;
  z-index: 10;
  /* opacity: 0; */
}

.signUpBtn {
  border: 1px solid white;
  color: white;
  background-color: var(--iconBackFaded);
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  white-space: nowrap;
  right: 14px;
  top: 2vh;
  z-index: 9;
  opacity: 0;
  scale: 0.5;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.signInBtn::after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--iconBackFaded);
  opacity: 0;
  border-radius: 100px;
  transition: opacity 0.25s ease-in-out;
}

.signInBtn:hover::after {
  opacity: 1;
  cursor: pointer;
}

.user-data {
  display: flex;
  align-items: start;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.user-data > .profileIcon {
  flex-shrink: 0;
}

.user-info-text small {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 150px;
  /* some width */
}

.user-info-text > a {
  font-size: 0.9rem;
  text-decoration: none;
}

.user-info-text > a:hover {
  background-color: white !important;
}

.profileIcon {
  background-color: var(--themeBg);
}

.profileIcon:hover {
  background-color: var(--themeBg);
}

.user-menu {
  position: absolute;
  z-index: 999999999999999999999999;
  color: rgb(78, 32, 78) !important;
  top: 10%;
  right: 2%;
}

.user-menu-body > a {
  color: rgb(78, 32, 78);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem 0.4rem;
}

.user-menu-body a:hover {
  background-color: var(--iconBackFaded);
}

/* For screens smaller than 630px */
@media only screen and (max-width: 630px) {
  .nav-center {
    display: none;
  }

  .small-screen-icon {
    display: flex;
  }

  .right-icons {
    gap: 0rem !important;
  }

  .right-icons > i,
  .searchIconBox > i {
    width: 35px;
    height: 35px;
    font-size: 15px;
  }

  .left-menu-bar,
  .nav-menu {
    display: none;
  }
}

/* Saving for future reference here */

/* .all-videos-ctn{
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em;
  column-gap: var(--spaceBetween, 0);
  margin: 1em auto;
}
.all-videos-ctn:after {
    content: "";
    flex: auto;
}
.video-wrapper{
    width: 250px;
    height: 250px;
    background-color: red;
} */
