* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background .25s ease-in-out;
}

html,
body {
    height: 100%;
    width: 100%;
}

.sideMenumodalWrapper{
    width: fit-content !important;
}

.bgTheme{
    background-color: var(--themeBg) !important;
}

.canvasbody::-webkit-scrollbar{
    width: 5px;
    behavior: smooth;
}

.canvasbody::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(255, 237, 255, 0.484);
}

.canvasbody::-webkit-scrollbar-thumb:hover {
    background: rgba(221, 160, 221, 0.84);
}

.sectionTitleMenu{
    margin-left: 12px;
}

.contentWrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.linkToChannel{
    text-decoration: none;
    padding: .4rem .7rem;
    width: 230px;
    /* padding-right: 4rem; */
    border-radius: .375rem;
}

.linkToChannel:hover{
    background-color: var(--iconBackFaded);
}

.flexWrapper{
    display: flex;
    align-items: center;
}

.profileIconCtn{
    width: 28px !important;
    height: 28px !important;
    margin-right: 22px !important;
    background-color: mediumpurple;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.withIcon>i{
    margin-right: 22px;
    font-size: 1.2rem;
}

.subscriptionSection .withIcon>i{
    font-size: 28px;
}

.menuLinkText{
    width: 230px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}