<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/channelpages/home.css">
    <title>Document</title>
</head>
<body>
    <div class="homeSectionWrapper p-5 pt-4">
        <div class="section-wrapper text-white">
            <div class="header-section d-flex align-items-center gap-4">
                <div class="d-flex align-items-center gap-3">
                    <p class="m-0">Popular Videos</p>
                </div>
                <a class="seeAllWrapper d-flex align-items-center gap-2 text-white" href="/search?contentType=likedvideos">
                    <i class="ri-play-fill"></i>
                    Play all
                </a>
            </div>
        </div>
        <hr class="text-white mt-4">
        <div class="section-wrapper text-white">
            <div class="header-section d-flex align-items-center gap-4">
                <div class="d-flex align-items-center gap-3">
                    <p class="m-0">Created Playlists</p>
                </div>
                <a class="seeAllWrapper d-flex align-items-center gap-2 text-white" href="/search?contentType=watchlater">
                    <i class="ri-play-fill"></i>
                    Play all
                </a>
            </div>
        </div>
        <hr class="text-white mt-4">
        <div class="section-wrapper text-white">
            <div class="header-section d-flex align-items-center gap-4">
                <div class="d-flex align-items-center gap-3">
                    <p class="m-0">Subscriptions</p>
                </div>
                <a class="seeAllWrapper d-flex align-items-center gap-2 text-white" href="/search?contentType=watchlater">
                    <i class="ri-play-fill"></i>
                    See all
                </a>
            </div>
        </div>
    </div>
    <script src="/javascripts/channelpages/home.js"></script>
</body>
</html>